#忽略图片文件（png）
*.png

#忽略所有__pycache__文件夹(前面不加/，表示不知匹配根目录；后面加/表示文件夹)
__pycache__/
ckpt/

#忽略所有名字包含results的文件夹
*results/

#忽略所有.npy结尾文件
*.npy
*.svg
*.ipynb
!structure.svg

*.pyc
static/
*.pth
*.txt
.ipynb_checkpoints
*.json
*.gz
checkpoint*/
/github_clone
summary*/
*result/
*.code-workspace
